.special-offer-you img{
	padding: 0 !important;
	width: 100%;
}
.special-offer-you .product-image-container{
    background: transparent;
}
.special-offer-you .product-grid{
    flex-wrap: wrap;
    gap: 15px;
}
.special-offer-you .product-card{
    width: 32.33%;
    padding: 0;
    flex: 0 0 32.33%;
    position: relative;
    margin-bottom: 1.5rem;
}
.special-offer-you .product-details{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.special-offer-you .product-description{
	color: #FFF;
	text-align: left;
	font-size: 15px;
	font-style: normal;
	padding: 0 10px;
	margin-bottom: 5px;
	font-weight: 700;
	line-height: 19.8px;
	letter-spacing: 0.24px;
}
.special-offer-you .product-card .star-rating,.special-offer-you .color-choice{
	padding: 0 10px;
}
.special-offer-you .product-price{
	margin-bottom: 5px;
}
.special-offer-you .product-card .star-rating svg{
	color: #fff;
}
.special-offer-you .add-to-cart-button{
	background: #FE2B54;
	border: 1px solid #FE2B54;
}
.sidebar{
	padding: 1rem 10px;
	min-width: 250px;
	background: #fff;
}
.sidebar .card .card-header h4{
	color: var(--Dark-blue, #050B23);
	font-family: Roboto Condensed;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	padding: 10px 10px 14px;
	line-height: normal;
	letter-spacing: 1.68px;
	margin: 0;
}
.sidebar .card .card-header{
	border-bottom: 5px solid #050B23;
}
.sidebar .card .colors h5,.sidebar .card .size h5,.sidebar .card .price-range h5{
	color: var(--Dark-blue, #050B23);
	font-family: Roboto Condensed;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.68px;
	border-bottom: 0.65px solid #050B23;
	max-width:160px;
	margin-bottom: 1rem;
}
.sidebar .card .colors .colors-div,.sidebar .card .size .size-div{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 7px;
}
.sidebar .card .colors .colors-div span{
	width: 27px;
	height: 27px;
	display: block;
	background: #D9D9D9;
}
.sidebar .card .size .size-div span{
	display: flex;
	width: 47px;
	padding: 13px 0;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #000;
	background: #000;
	color: #FFF;
	text-align: center;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px; /* 161.538% */
	letter-spacing: 2px;
	text-transform: uppercase;
}
.sidebar .card .price-range .price-range-div input{
	width: 212px;
	height: 33px;
	flex-shrink: 0;
	background: #F5F5F5;
	color: #A9A9A9;
	text-align: center;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	border: 0;
	margin-bottom: 10px;
	padding: 0 1rem;
	text-align: left;
	appearance: none;
	line-height: normal;
}
.tabs-bar .react-tabs__tab-list{
	border-bottom: 0;
}
.tabs-bar .react-tabs__tab--selected{
	background: #FE2B54 !important;
	border-color: #FE2B54 !important;
	color: #fff !important;
}
.tabs-bar .react-tabs__tab{
	width: 178px;
	height: 27px;
	flex-shrink: 0;
	background: #D9D9D9;
	color: #949494;
	text-align: center;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	border-radius: 0;
}
.detail-product-grid  .product-details{
	position: relative !important;
	background: none;
}
.detail-product-grid  .product-details .product-description{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 19.8px;
	letter-spacing: 0.24px;
	padding: 0;
}
.detail-product-grid .product-min{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	display: block;
	margin: 10px 0 12px;
	line-height: 19.8px; /* 165% */
	letter-spacing: 0.24px;
}
.detail-product-grid .star-rating{
	padding: 0 !important;
	justify-content: flex-start;
}
.detail-product-grid .star-rating svg{
	color: #000 !important;
}
.product-detail-page{
	display: flex;	
}
.detail-product-grid .product-price{
	margin: 0;
	margin-bottom: 0 !important;
	color: #FE2B54;
	text-align: center;
	font-family: Century Gothic;
	font-size: 29px;
	font-style: normal;
	font-weight: 700;
	line-height: 19.8px; /* 68.276% */
	letter-spacing: 0.24px;
}
.buttons{
	align-items: center;
}
.detail-product-grid .product-card{
	flex: 0 0 31.33%;
}

/* Cart Page CSS */
.list-style-none{
	list-style-type: none !important;
}
.breadcrumb li a{
	color: #9C9C9C;
	font-family: Century Gothic;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.8px;
	letter-spacing: 0.24px;
	text-decoration: none;
}
.pink-text{
	color: #FE2B54 !important;
}
.product-details-cart h2{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.24px;
}
.product-details-cart h4{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.8px; /* 110% */
	letter-spacing: 0.24px;
}
.product-details-cart p{
	color: #5C5C5C;
	font-family: Century Gothic;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.8px; /* 165% */
	letter-spacing: 0.24px;
}
.product-details-cart ul li{
	color: #6B6B6B;
	font-family: Century Gothic;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 18.15px; /* 165% */
	letter-spacing: 0.24px;
	gap: 5px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.pl-0{
	padding-left: 0 !important;
}
/* End Here */

/* Image Thumblins */
.image-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem;
}
.thumbnail-container {
  flex: 1 1 auto;
}
.magnify-container {
	margin: 0 1rem;
	flex: 1 1 auto;
	display: flex;
	min-width: 540px;
	line-height: 1;
	height: auto;
	background: #D9D9D9;
	padding: 20px;
}
.product-content-container {
  flex: 1 1 auto;
}
.thumbnails {
  display: flex;
  flex-flow: column nowrap;
}
.thumbnail {
  width: 168px;
  height: 168px;
  cursor: pointer;
	margin-bottom: 1rem;
	background: #D9D9D9;
	padding: 10px 5px;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  object-position: 50% 50%;
}
.d-flex{
	display: flex;
}
.gap-20{
	gap: 20px;
}
.Price-tag{
	font-size: 56px;
	font-family: "Century Gothic";
	font-weight: 700;
	color: rgba(254, 43, 84, 1);
	margin: 1rem 0;
}
.product-dress-size p{
	font-size: 24px;
	font-family: "Roboto Condensed";
	font-weight: 700;
	color: rgba(5, 11, 35, 1);
	padding-bottom: 5px;
	border-bottom: 1px solid #050B23;
}
.product-dress-size span{
	font-size: 12px;
	font-family: "Century Gothic";
	font-weight: 400;
	color: rgba(92, 92, 92, 1);
	cursor: pointer;
	width: auto;
	padding: 10px 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border: 1px solid #E7E7E7;
	height: 20px;
}
.product-color-select p{
	font-size: 24px;
	font-family: "Roboto Condensed";
	font-weight: 700;
	color: rgba(5, 11, 35, 1);
	padding-bottom: 5px;
	border-bottom: 1px solid #050B23;
}
.product-color-select span{
	display: inline-flex;	
	cursor: pointer;
	width: 66px;
	height: 66px;
	margin-right: 9px;
}
.add-to-cart-button-pr0duct{
	font-size: 14px;
	font-family: "Inter";
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	background: #111111 !important;
	border-color: #111111 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 30px 0;
	height: 45px;
}
.buy-the-set{
	background: #fff;
	padding: 10px 30px;
	box-shadow: 0px 1px 5px rgb(217 217 217 / 50%);
	height: 100%;
	width: 39%;
	margin-top: -100px;
}
.buy-the-set h4{
	font-size: 22px;
	font-family: "Century Gothic";
	font-weight: 700;
	color: rgba(31, 31, 31, 1);
	text-align: center;
}
.product-card-div{
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.product-card-div img{
	height: 221px;
	object-fit: cover;
	max-width: 160px;
}
.plus-icon{
	width: 20px;
	height: 20px;
	background: #D9D9D9;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plus-icon img{
	width: auto !important;
	height: auto !important;
}
.product-card-div .card-detail p{
	font-size: 14px;
	font-family: "Century Gothic";
	font-weight: 700;
	color: rgba(31, 31, 31, 1);
	margin-bottom: 5px;
}
.product-card-div .card-detail span{
	font-size: 14px;
	font-family: "Century Gothic";
	font-weight: 700;
	color: rgba(31, 31, 31, 1);
	display: inline-block;
	margin-right: 5px;
}
.product-card-div .card-detail span del{
	color: rgba(189, 189, 189, 1) !important;
}
.product-card-div .card-detail div{
	font-size: 14px;
	font-family: "Century Gothic";
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #E1E3E5;
}
.over-hidden{
	overflow: hidden;
}
.add-to-cart-button-addtional{
	font-size: 14px;
	font-family: "Century Gothic";
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	background: #000;
	border-radius: 4px;
	padding: 10px 20px;
	text-decoration: none;
	margin-right: 14px;
}
.cart-button-bottom{
	margin-top: 30px;
	border-top: 1px solid #E1E3E5;
	padding: 11px 105px;
	display: flex;
	align-items: center;
}
.cart-button-bottom span{
	font-size: 16px;
	font-family: "Century Gothic";
	font-weight: 700;
	color: rgba(31, 31, 31, 1);
	margin-right: 5px;
}
.cart-button-bottom span del{
	color: rgba(189, 189, 189, 1);
}
.w-auto{
	width: auto !important;
}
.stay-with-it{
	padding: 10px 64px;
	width: 60%;
}
.stay-with-it h4{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: rgba(92, 92, 92, 1);
}
.align-items-center{
	align-items: center;
}
.gap-32{
	gap: 32px;
}
.img-text-with p{
	font-size: 12.5px;
	font-family: "Inter";
	font-weight: 400;
	color: rgba(92, 92, 92, 1);
}
.img-text-with p span{
	font-size: 12px;
	display: block;
	margin-top: 10px;
}
.border-add-to-cart{
	font-size: 14px;
	font-family: "Inter";
	font-weight: 400;
	color: rgba(17, 17, 17, 1);
	width: 160px;
	height: 43px;
	text-decoration: none;
	border: 1px solid #111111;
	display: flex;
	align-items: center;
	justify-content: center;
}
.justify-content-between{
	justify-content: space-between;
}
.more-items-cart{
	margin-top: 20px;
}
.stay-with-it-section{
	padding: 10px 2rem;
	display: flex;
}
/* End Here */

/* Custom review */
.customer-review{
	padding: 22px 2rem 68px;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #111111;
}
.customer-review .customer-heading h4,.most-recent-review .customer-heading h4{
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	color: rgba(92, 92, 92, 1);
}
.overall-rating{
	padding: 35px 0;
}
.overall-rating,.write-review{
	min-width: 387px;
}
.based-rating{
	min-width: 517px;
}
.overall-rating .star-rating{
	padding-right: 3px;
}
.star-rating svg{
	fill: #F8B43E;
	color: #F8B43E;
	padding-right:3px;
}
.overall-rating p span{
	font-size: 14px;
	font-weight: 400;
	color: rgba(17, 17, 17, 1);
	text-decoration: underline;
}
.overall-rating span{
	font-size: 14px;
	font-weight: 400;
	color: rgba(17, 17, 17, 1);
}
.based-rating ul{
	padding: 0;
	list-style-type: none;
}
.based-rating ul li{
	display: flex;
	align-items: center;
	gap: 26px;
	margin: 10px 0;
	justify-content: center;
}
.based-rating .progress-bar{
	width: 140px !important;
}
.based-rating .progress-bar div{
	height: 14px !important;
	border-radius: 0 !important;
}
.based-rating .progress-bar div span{
	font-size: 0 !important;
}
.justify-content-evenly{
	justify-content: space-evenly;
}
.most-recent-review{
	padding: 22px 3rem;
}
.user-review{
	align-items: center;
	gap: 10px;
}
.user-image{
	background: rgb(217, 217, 217);
	padding: 6px;
	width: 25px;
	height: 25px;
}
.verified-sign{
	background: #000000;
	padding: 3px;
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 20px;
}
.position-relative{
	position: relative;
}
.text-left{
	text-align: left !important;
}
.most-recent-review ul{
	padding: 0;
	list-style-type: none;
}
.most-recent-review ul li{
	margin-bottom: 2rem;
}
.m-0{
	margin: 0 !important;
}
.username{
	font-size: 14px;
	font-weight: 400;
}
.verified{
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	background-color: #000000;
	padding: 5px;
}
.mt-3{
	margin-top: 1rem;
}
.trypose-reply{
	padding: 10px 16px;
	background: #EDF5F5;
}
.trypose-reply p{
		font-size: 14px;
		font-weight: 400;
		color: rgba(92, 92, 92, 1);
}
.bg-gray{
	background: #f2f2f2;
}
.py-2{
	padding: 2rem 0;
}
/* End Here */


/* User Details Css */
.address-card-details{
	background: #fff;
	padding: 2rem 4rem;
}
.px-3{
	padding-right: 3rem;
	padding-left: 3rem;
}
.upperheder h4{
	font-size: 20px;
	font-family: "Poppins";
	font-weight: 600;
	color: rgba(23, 24, 59, 1);
}
.address-card-details .form-contol{
	display: flex;
	align-items: center;
	gap: 20px;
}
.address-card-details .form-contol input{
	width: 50%;
	height: 48px;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	padding: 0 20px;
}
.address-card-details .form-contol{
	margin-bottom: 1.5rem;
}
.address-card-details .form-contol .pincode-input{
	width: 58px !important;
}
.pin-code-input .w-100{
	width: 100% !important;
}
.pin-code-input{
	width: 53%;
	display: flex;
	gap: 10px;
}
.card-saved-details .radio{
	padding: 24px;
	border-radius: 7px;
	margin-bottom: 24px;
	background: #F6F6F6;
}
.card-saved-details .radio label{
	font-size: 18px;
	font-weight: 400;
	color: rgba(23, 24, 59, 1);
}
.card-saved-details .radio label input{
	margin-right: 16px;
}
.add-validity{
	padding: 4px 8px;
	border-radius: 4px;
	background:Black;
	font-size: 12px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	margin-left: 24px;
}
.edit-dlete-add p{
	font-size: 16px;
	margin: 0;
	font-weight: 400;
	color: rgba(23, 24, 59, 1);
}
.edit-dlete-add img{
	margin-left: 24px;
}
.radio p{
	font-size: 16px;
	font-weight: 400;
	color: rgba(23, 24, 59, 1);
	margin: 10px 3rem 0;
}
.form__radio-input {
	display: none;
  }
  
  .form__label-radio {
	font-size: 1.6rem;
	cursor: pointer;
	position: relative;
	padding-left: 3rem;
  }
  
  .form__radio-button {
	height: 22px;
	width: 22px;
	border: 3px solid #000;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: -4px;
  }
  .form__radio-button::after {
	content: "";
	display: block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 51%;
	transform: translate(-50%, -50%);
	background-color: #000;
	opacity: 0;
	transition: opacity 0.2s;
  }
  
  .form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
	opacity: 1;
  }
  .add-new-address{
	text-align: center;
	padding: 48px 0;
  }
  .add-new-address span{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	display: block;
	width: 100%;
	position: relative;
	z-index: 9;
  }
  .add-new-address span::before,.add-new-address span::after{
	  content: '';
	  position: absolute;
	  width: 100%;
	  border: 1px dashed #000000;
	  left: 0;
	  top: 16px;
	  z-index: -1;
  }
  .add-new-address span img{
	width: 14px;
	height: 14px;
	background: #000000;
	padding: 10px;
	border-radius: 50%;
  }
  .order-details{
	padding: 3rem;
  }
  .delivered-way{
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	padding: 8px 15px;
	position: absolute;
	right: 0;
  }
/* End Here */

/* Checkout Css */
.product-name-details{
	display: flex;
	align-items: center;
	gap: 15px;
}
.product-name-details p{
	font-size: 14px;
	font-weight: 700;
	color: rgba(0, 0, 0, 1);
}
.product-name-details p span{
	margin-top: 8px;
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
}
.increment-id{
	display: flex;
	align-items: center;
}
.increment-id button{
	background: transparent;
	border: 0;
	width: 24px;
	height: 24px;
	padding: 0;
}
.increment-id span{
	font-size: 16px;
	font-family: "Poppins";
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
	width: 32px;
	text-align: center;
}
.increment-id h5{
	font-size: 22px;
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
	margin: 0 24px !important;
}
.cart-details-prod{
	padding: 16px 0;
}
.product-cart-detail hr{
	margin: 40px 0;
	border: 0.5px solid #A3A3A3;
}
.order-sumary-cart{
	padding: 40px 64px;
	border-radius: 10px;
	border: 1px solid #EBEBEB;
}
.order-sumary-cart h4{
	font-size: 22px;
	font-weight: 700;
	color: rgba(17, 17, 17, 1);
	margin-bottom: 40px;
}
.order-sumary-cart label{
	font-size: 14px;
	font-weight: 500;
	color: rgba(84, 84, 84, 1);
}
.order-sumary-cart input{
	border-radius: 7px !important;
	border: 0.5px solid #9F9F9F !important;
	height: 24px !important;
	padding: 16px !important;
	width: 100% !important;
}
.order-sumary-cart .form-contol{
	align-items: flex-start !important;
	flex-direction: column !important;
	gap: 8px !important;
	position: relative;
}
.order-sumary-cart .form-contol button{
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
	background: transparent !important;
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 8px 20px;
	position: absolute;
	right: 0;
	top: 45%;
}
.cart-subtotal{
	display: flex;
	gap: 60px;
	width: 100%;
}
.cart-subtotal .product-cart-detail,.cart-subtotal .order-sumary-cart{
	width: 100%;
}
.all-total{
	margin-top: 24px;
}
.all-total p{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.all-total p strong{
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
}
.all-total p span{
	font-size: 16px;
	font-weight: 400;
	color: rgba(84, 84, 84, 1);
}
.upi-cash-option{
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: center;
}
.upi-cash-option .payment-upi{
	width: 116px;
	height: 116px;
	background: #e6e6e6;
	display: flex;
	align-items: center;
	justify-content: center;
}
.upi-cash-option .payment-upi label{
	padding-left: 0 !important;
}
.payment-mothod-options{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.payment-mothod-options .debit-credit input,.payment-mothod-options .debit-credit,.payment-mothod-options .upi-cash-option{
	width: 100% !important;
}
.payment-mothod-options .debit-credit h5{
	font-size: 18px;
	font-weight: 400;
	color: rgba(23, 24, 59, 1);
}
.payment-mothod-options .debit-credit{
	border-right: 2px solid #D9D9D9;
	padding-right: 50px;
}
.checkout-button{
	background: #FE2B54;
	padding: 16px 56px;
	font-size: 16px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	border: 0;
	min-width: 450px;
}
.checkout-but{
	margin-top: 50px;
	text-align: center;
}
/* End Here */